/* All styles for your header Components live here */
* {
    border: 1px solid red;
}
html {
    font-size: 62.5%;
}

.lambdaImg {
    width: 100px;
    background-image: url("https://tk-assets.lambdaschool.com/1c1b7262-cf23-4a9f-90b6-da0d3c74a5c6_lambdacrest.png");
    /*background-size: 50px 50px;*/
}

.header-container {
    display: flex;
}

.lambda-top-title {
    font-weight: normal;
}
span {
    color: darkgray;
}

.top-para {
    font-weight: lighter;
    font-size: 18px;
}