* {
    border: 1px solid purple;
}

/* This wraps the whole calculator */
.calcWrap {
    width: 455px;
    height: 600px;
    margin-left: 455px;
}

/* Display Styling */
.longDisplay {
    background-color: #17191A;
    color: white;
}

/* Rows */
.displayRow {
    width: 100%;
    height: 115px;
}
.clearRow, .thirdRow, .fourthRow, .fifthRow, .lastRow {
    display: flex;
    width: 100%;
    height: 95px;
}

/* Clear Button */
.clear {
    background-color: white;
    width: 341px;
    height: 95px;
    color: black;
}

/* Red Buttons */
.redBtn {
    width: 114px;
    height: 95px;
    background-color: #BC3134;
    color: white;
    font-size: 30px;
}

/* White Buttons */
.whiteBtn {
    width: 114px;
    height: 95px;
    background-color: white;
    color: black;
    font-size: 30px;
}

/* Long Buttons */
.longBtns {
    width: 341px;
    height: 95px;
    background-color: white;
    color: black;
    font-size: 30px;
}