/* Clear Button */
.clear {
    background-color: white;
    width: 341px;
    height: 95px;
    color: black;
}

/* Red Buttons */
.redBtn {
    width: 114px;
    height: 95px;
    background-color: #BC3134;
    color: white;
}

/* White Buttons */
.whiteBtn {
    width: 114px;
    height: 95px;
    background-color: white;
    color: black;
}